<div class="md:flex">
    <div class="options mt-10 flex-grow flex items-center justify-center">

        <div style="width: 370px">
            <div class="flex justify-between">
                <mat-form-field [style.width.px]=150>
                    <mat-label>Počáteční částka investice</mat-label>
                    <input matInput type="number"  [(ngModel)]="investValue" (blur)="onValueChange()">
                    <span matSuffix>Kč</span>
                </mat-form-field>

                <mat-form-field [style.width.px]=150>
                    <mat-label>Měsíční částka investice</mat-label>
                    <input matInput type="number"  [(ngModel)]="investMonthlyValue" (blur)="onValueChange()">
                    <span matSuffix>Kč</span>
                </mat-form-field>
            </div>


            <div class="flex justify-between">
                <span class="label-container leading-10">
                    <label>Doba investice (roky): </label>
                </span>
                <div>
                    <label class="font-bold text-xl ml-3">{{yearValue}} let</label>
                    <mat-slider class="example-margin" [max]="100" [min]="1" [step]="1" [thumbLabel]="true"
                        [(ngModel)]="yearValue" (change)="onValueChange('year')">
                    </mat-slider>
                </div>
            </div>

            <div class="flex justify-between">
                <span class="label-container leading-10">
                    <label>Roční zhodnocení (%): </label>
                </span>
                <div>
                    <label class="font-bold text-xl ml-3">{{interestValue}} %</label>
                    <mat-slider class="example-margin" [max]="20" [min]="0" [step]="1" [thumbLabel]="true"
                        [(ngModel)]="interestValue" (change)="onValueChange()">
                    </mat-slider>
                </div>
            </div>

            <div class="flex justify-between">
                <span class="label-container leading-10">
                    <label>Inflace/deflace (%): </label>
                </span>
                <div>
                    <label class="font-bold text-xl ml-3">{{inflationValue}} %</label>
                    <mat-slider class="example-margin" [max]="10" [min]="-10" [step]="1" [thumbLabel]="true"
                        [(ngModel)]="inflationValue" (change)="onValueChange('inflation')">
                    </mat-slider>
                </div>
            </div>

            <div class="flex justify-between">
                <span class="label-container leading-10 w-36">
                    <label>Zvýšení měsíční investice za rok (%): </label>
                </span>
                <div>
                    <label class="font-bold text-xl ml-3">{{salaryInterestYearlyRaise}} %</label>
                    <mat-slider class="example-margin" [max]="10" [min]="-10" [step]="1" [thumbLabel]="true"
                        [(ngModel)]="salaryInterestYearlyRaise" (change)="onValueChange()">
                    </mat-slider>
                </div>
            </div>

            <div class="flex justify-between">
                <span class="label-container leading-10">
                    <label>Zobrazit graf: </label>
                </span>
                <div class="w-44">     
                    <label class="font-bold text-lg ml-3 mr-2 relative top-2">{{showCharts ? 'Ano' : 'Ne'}}</label>
                    <mat-slide-toggle  class="relative top-2" [(ngModel)]="showCharts"></mat-slide-toggle>
                </div>
            </div>
            <div class="flex justify-between">
                <span class="label-container leading-10">
                    <label>Zobrazit tabulku: </label>
                </span>
                <div class="w-44">     
                    <label class="font-bold text-lg ml-3 mr-2 relative top-2">{{showTables ? 'Ano' : 'Ne'}}</label>
                    <mat-slide-toggle  class="relative top-2" [(ngModel)]="showTables"></mat-slide-toggle>
                </div>
            </div>
        </div>



    </div>

    <div class="flex-grow flex items-center justify-center">

        <table class="leading-10">
            <tr>
                <td >Celkem naspořeno:</td>
                <td class="text-xl font-bold text-right">
                    <button mat-icon-button class="relative -top-1" [cdkCopyToClipboard]="basicInvestInfo.lastValue.toFixed(2)"><mat-icon>content_copy</mat-icon></button>
                    <span>{{basicInvestInfo.lastValue | number:'1.2-2'}} Kč</span>
                </td>
            </tr>
            <tr class="italic">
                <td >Včetně úroků:</td>
                <td class="text-xl text-right">({{basicInvestInfo.lastInterest | number:'1.2-2'}} Kč)</td>
            </tr>
            <tr>
                <td >Reálně naspořeno:</td>
                <td class="text-xl font-bold text-right">{{realInvestInfo.lastValue |
                    number:'1.2-2'}} Kč</td>
            </tr>
        </table>
    </div>
</div>



<p-chart *ngIf="showCharts" type="line" [data]="chartData" [options]="chartOptions"></p-chart>

<div *ngIf="showTables" class="prose prose-sm sm:prose lg:prose-lg xl:prose-xl mx-auto mt-16 mb-16">
    <table>
        <thead>
            <th class="w-24">Rok</th>
            <th>Hodnota investice</th>
            <th>Získáno na úrocích za minulý rok</th>
            <th>Měsíční investice</th>
        </thead>
        <tr *ngFor="let entryRow of getCalculatedInvestInfo()">
            <td class="w-24">{{finCalcService.formatYearLabel(entryRow[0])}}</td>
            <td>{{(entryRow[1]).value | number:'1.2-2'}} Kč</td>
            <td>{{(entryRow[1]).valueFromInterest | number:'1.2-2'}} Kč</td>
            <td>{{(entryRow[1]).monthlyInvestment | number:'1.2-2'}} Kč</td>
        </tr>
    </table>
</div>