<div class="wrapper pt-11">
    <article *ngFor="let page of (links$ | async)">
      <a [href]="page.route + '/'" >
        <mat-card class="shadow-lg transition-all hover:bg-gray-100 clickable ">
          <mat-card-header   class="py-5">
            <div mat-card-avatar class="header-image" [style.background-image]="getThumbnailImgUrl(page.imgSmall)"></div>
            <mat-card-title class="font-bold text-2xl">{{ page.title }}</mat-card-title>
            <mat-card-subtitle>{{ page.description }}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-actions>
            <!-- <button mat-button class="font-semibold">LIKE</button> -->
            <!-- <button mat-button class="font-semibold">SHARE</button> -->

            <!-- <share-popup-button>Share</share-popup-button> -->
          </mat-card-actions>
        </mat-card>
      </a>

    
    </article>
</div>
