<header
    [style.background-image]="(currentPage$ | async)?.img != null ? 'url(' + (currentPage$ | async)?.img + ')' :  getImgByRoute(currentPage$ | async)">

    <div class="overlay">
    </div>
    <div class="header-content">
        <div class="top-row">
            <span class="left-title" routerLink="/">Osobní finance</span>
            <div class="header-items">
                <a class="header-item" routerLink="/list">Seznam článku</a>
                <a class="header-item" routerLink="/financni-kalkulacky">Kalkulačky</a>
                <!-- <a class="header-item" routerLink="/about">O stránce</a> -->
            </div>
        </div>
        <div class="text-center  pt-32">
            <h1 class="pl-6 pr-6 break-words text-4xl font-bold text-white sm:text-6xl lg:text-7xl xl:text-8xl">{{ (currentPage$ | async)?.title || getTitleByRoute(currentPage$ | async) || 'Osobní finance krok za krokem' }}</h1>
        </div>
    </div>

</header>

<main class="antialiased text-gray-900">
    <router-outlet></router-outlet>
</main>


<footer class='w-full text-center border-t border-grey p-4 pin-b bg-black text-white'>
    <span>© 2021 Osobní Finance</span> &nbsp;&nbsp;&nbsp; Kontakt: <a href="mailto:osfin@seznam.cz">osfin@seznam.cz</a>
</footer>

