<header [style.background-image]="(currentPage$ | async)?.img != null ? 'url(' + (currentPage$ | async)?.img + ')' :  'url(../assets/home-bg.jpg)'">

    <div class="overlay">
    </div>
    <div class="header-content">     
        <div class="top-row">
            <span class="left-title" routerLink="/">Osobní finance</span>   
            <div class="header-items">
                <a class="header-item" routerLink="/">Blog</a>
                <a class="header-item" routerLink="/about">O stránce</a>
            </div>
        </div>
        <div class="main-title">
            <h1>{{ (currentPage$ | async)?.title || 'O něčem skvělém' }}</h1>
        </div>
    </div>

</header>

<router-outlet></router-outlet>