<header
    [style.background-image]="(currentPage$ | async)?.img != null ? 'url(' + (currentPage$ | async)?.img + ')' :  'url(../assets/home-bg-s.jpg)'">

    <div class="overlay">
    </div>
    <div class="header-content">
        <div class="top-row">
            <span class="left-title" routerLink="/">Osobní finance</span>
            <div class="header-items">
                <a class="header-item" routerLink="/list">Seznam článku</a>
                <!-- <a class="header-item" routerLink="/about">O stránce</a> -->
            </div>
        </div>
        <div class="main-title">
            <h1 class="pl-6 pr-6">{{ (currentPage$ | async)?.title || 'Osobní finance krok za krokem' }}</h1>
        </div>
    </div>

</header>

<main class="antialiased text-gray-900">
    <router-outlet></router-outlet>
</main>


<footer class='w-full text-center border-t border-grey p-4 pin-b bg-black text-white'>
    © 2021 Osobni Finance
</footer>

