<div class="app-center">
    <div class="py-3 flex justify-between px-6">
        <div>
            <div class="text-left align-middle top-4 relative text-xl">{{(currentPage$ | async)?.publishedDate}}</div>
            <div class="text-left align-middle top-4 relative text-base  italic">Čas čtení: {{((currentPage$ |async)?.readingTime) | number: '1.0-0'}} minut</div>    
        </div>

        <share-buttons [theme]="'circles-dark'" class="text-right"
            [include]="['facebook','twitter','linkedin']" [show]="3" [size]="1">
        </share-buttons>
    </div>

    <div class="px-4 py-10 max-w-3xl mx-auto sm:px-6 sm:py-12 lg:max-w-4xl lg:py-16 lg:px-8 xl:max-w-6xl">
        <article class="prose prose-sm sm:prose lg:prose-lg xl:prose-2xl mx-auto">
            <scully-content></scully-content>
        </article>
    </div>
</div>

<div class="app-center">
    <app-discussion-wrapper></app-discussion-wrapper>
</div>