<div class="wrapper p-4 min-h-screen">

  <div class="prose prose-sm sm:prose lg:prose-lg xl:prose-2xl mx-auto mt-16 mb-16">
    <blockquote> ... přesné počítání s nepřesnými čísly ...</blockquote>
  </div>


    <div class="example-action-buttons">
        <button mat-button (click)="accordion.openAll()">Ukázat vše</button>
        <button mat-button (click)="accordion.closeAll()">Schovat vše</button>
    </div>
    <mat-accordion class="example-headers-align" multi>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title class="font-bold">
                  Simulace investice
                </mat-panel-title>
                <mat-panel-description>
                  Simuluje vývoj investované jednorázové i pravidlené měsíční částky.
                  <!-- <mat-icon>arrow_back</mat-icon> -->
                </mat-panel-description>
              </mat-expansion-panel-header>
            <app-fin-calc-invest></app-fin-calc-invest>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title class="font-bold">
                  Simulace inflace peněz
                </mat-panel-title>
                <mat-panel-description>
                  Simuluje vývoj ceny peněz po započtení inflace.
                  <!-- <mat-icon>account_circle</mat-icon> -->
                </mat-panel-description>
              </mat-expansion-panel-header>
            <app-fin-calc-inflation-value></app-fin-calc-inflation-value>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
              <mat-panel-title class="font-bold">
                Simulace renty
              </mat-panel-title>
              <mat-panel-description>
                Simulace odebírání měsíční renty z naspořené částky.
                <!-- <mat-icon>account_circle</mat-icon> -->
              </mat-panel-description>
            </mat-expansion-panel-header>
          <app-fin-calc-renta>              
          </app-fin-calc-renta>
      </mat-expansion-panel>

    </mat-accordion>

</div>