<div class="wrapper p-4 min-h-screen">

  <div class="prose prose-sm sm:prose lg:prose-lg xl:prose-2xl mx-auto mt-16 mb-16">
    <blockquote> ... přesné počítání s nepřesnými čísly ...</blockquote>
  </div>


  <div class="example-action-buttons">
    <button mat-button (click)="accordion.openAll()">Ukázat vše</button>
    <button mat-button (click)="accordion.closeAll()">Schovat vše</button>
    <mat-slide-toggle  class="ml-2" [(ngModel)]="showCharts">Zobrazit grafy</mat-slide-toggle>
    <mat-slide-toggle  class="ml-2" [(ngModel)]="showTables">Zobrazit tabulky</mat-slide-toggle>


  </div>
  <mat-accordion class="example-headers-align" multi>
    <mat-expansion-panel [expanded]="expandFirst">
      <mat-expansion-panel-header>
        <mat-panel-title class="font-bold">
          SIMULACE INVESTICE
        </mat-panel-title>
        <mat-panel-description>
          Simuluje vývoj investované jednorázové i pravidlené měsíční částky.
          <!-- <mat-icon>arrow_back</mat-icon> -->
        </mat-panel-description>
      </mat-expansion-panel-header>
      <app-fin-calc-invest (nestEggChanged)="startNestEgg = $event" (inflationValueChanged)="inflationValue = $event" 
      (yearValueChanged)="yearValue = $event" [showCharts]="showCharts" [showTables]="showTables"></app-fin-calc-invest>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title class="font-bold">
          SIMULACE INFLACE
        </mat-panel-title>
        <mat-panel-description>
          Simuluje vývoj hodnoty peněz po započtení inflace.
          <!-- <mat-icon>account_circle</mat-icon> -->
        </mat-panel-description>
      </mat-expansion-panel-header>
      <app-fin-calc-inflation-value (neededRentChanged)="neededRent = $event" [showCharts]="showCharts" 
      [showTables]="showTables" [inflationValueInput]="inflationValue" [yearValueInput]="yearValue"></app-fin-calc-inflation-value>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title class="font-bold">
          SIMULACE RENTY
        </mat-panel-title>
        <mat-panel-description>
          Simulace odebírání měsíční renty z naspořené částky.
          <!-- <mat-icon>account_circle</mat-icon> -->
        </mat-panel-description>
      </mat-expansion-panel-header>
      <app-fin-calc-renta [startNestEggInput]="startNestEgg" [monthlyNeededRentInput]="neededRent" [showCharts]="showCharts" [showTables]="showTables">
      </app-fin-calc-renta>
    </mat-expansion-panel>

  </mat-accordion>

</div>