
  <main>
    <article *ngFor="let page of (links$ | async)">
 
      <mat-card >
        <mat-card-header class="clickable" [routerLink]="page.route">
          <div mat-card-avatar class="header-image" [style.background-image]="getThumbnailImgUrl(page.imgSmall)"></div>
          <mat-card-title >{{ page.title }}</mat-card-title>
          <mat-card-subtitle>{{ page.description }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>

    </article>
  </main>
  
  
