<div class="text-center py-3">
  <share-buttons [theme]="'circles-dark'" [include]="['facebook','twitter','linkedin','pinterest', 'email', 'copy']"
    [show]="3" [size]="1"></share-buttons>
</div>
<div class="px-4 py-10 max-w-3xl mx-auto sm:px-6 sm:py-12 lg:max-w-4xl lg:py-16 lg:px-8 xl:max-w-6xl">



  <article class="prose prose-sm sm:prose lg:prose-lg xl:prose-2xl mx-auto">

    <p>
      Vítám Vás na blogu osobních financí a v první sérii článků, jejíž hlavní náplní by mělo být postupné vytvoření
      návodu, jak
      si udělat pořádek ve financích a nabýt lepší finanční gramotnosti.
    </p>
    <p>
      Motivací je moje přesvědčení, že znalost
      problematiky starání se o vlastní finanční prostředky, je v ČR špatná. Tohoto faktu pak zneužívají různé instituce
      od státu počínaje (inflace, nesmyslně dotované produkty pro spoření), přes banky (poplatky fondů), až po notoricky
      známé „finanční poradce” (zde radši v tuto chvíli pomlčím).
    </p>
    <p>
      Tato série je určena lidem, kteří chtějí zlepšit stav svých financí, ale neví jak. Rozhodně se nejedná o návod na
      zbohatnutí. Spíše se zaměříme na zlepšení šance něco uspořit a udržení hodnoty toho, co naspoříme.
    </p>

    <blockquote>
      "Jestliže si z této série článku odnesete jednu jedinou věc, byl bych rád kdyby to bylo Vaše osobní přesvědčení,
      že
      o své finance je potřeba se starat, a že nikdo to neudělá, tak dobře jako Vy.""
    </blockquote>

    <p>
      Není k tomu potřeba doopravdy
      mnoho - nejtěžší ze všeho je prostě začít. Můžete samozřejmě využít služeb některého z poradců, ale v tu chvíli je
      potřeba brát zřetel na několik základních pravidel, jak vybrat toho správného. I tomu bych chtěl věnovat v
      budoucnu článek. Nicméně hlavní podstatou bude vytvoření postupného návodu, jak se začít o své finance starat sám.
    </p>


    <p>
      V každém článku se pokusím dále odkázat na zajímavé materiály, které Vám umožní jít ještě dále a informace mnou
      zmíněné si rozšířit či lépe ověřit.
    </p>
    <p>
      Ze své podstaty jsem hodně spořivý člověk a jak by dosvědčila moje manželka, někdy až moc. I proto doporučené
      postupy budou (alespoň podle mého nejlepšího vědomí a svědomí) pokud možno bez jakýchkoliv placených služeb,
      případně pokud tomu není zbytí te nejlevnější možné (za to však pro naše potřeby funkční) varianty.
    </p>
    <blockquote>
      "Na rovinu přiznávám, že nemám žádné formální ekonomické vzdělání, vše co zde budu psát vychází z mého
      přesvědčení,
      knih které jsem přečetl a hlavně z mých zkušeností. Nemám jakékoliv spojení s žádným z doporučovaných, či pro
      účely demonstrace použitých, produktů a služeb. Neživím se finančním poradenstvím."
    </blockquote>
    <p>
      Budu rád pokud mě v komentářích upozorníte na jakékoliv chyby či nesrovnalosti. S češtinou jsem vždy bojoval (paní
      učitelka Novotná by mohla vyprávět), takže příležitosti na upozornění na gramatické chyby bude víc než dost.
    </p>
    <p>
      Postupně, dle toho jak čas dovolí, bych se rád dotknul následujících témat.

  </article>

  <app-article-list></app-article-list>

</div>